In [ ]:
Day8_B16

In [ ]:
Sample statistics with a list of numbers

In [2]:
digits = [1,2,3,4,5,6,7,8,9,10,11,12,34,56,57,58,59,62,63]
print(digits)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 34, 56, 57, 58, 59, 62, 63]

In [3]:
min(digits)

1

In [4]:
max(digits)

63

In [5]:
sum(digits)

467

In [ ]:
slicing of a list:

In [6]:
students = ['hari','ram','sumanth','gangadhar','maheshwara','Faiyaz','suren','divakar']
print(students)

['hari', 'ram', 'sumanth', 'gangadhar', 'maheshwara', 'Faiyaz', 'suren', 'divakar']

In [7]:
type(students)

list

In [ ]:
#Req:to include two persons in a group
#logic to maintained ,last value is always exclusive

In [8]:
print(students[0:1])

['hari']

In [9]:
print(students[1:2])

['ram']

In [10]:
max(students)

'suren'

In [12]:
list(students)

['hari',
 'ram',
 'sumanth',
 'gangadhar',
 'maheshwara',
 'Faiyaz',
 'suren',
 'divakar']

In [13]:
print(students[2:3])

['sumanth']

In [14]:
print(students[8:9])

[]

In [15]:
print(students[0:2])

['hari', 'ram']

In [16]:
print(students[0:3])

['hari', 'ram', 'sumanth']

In [18]:
print(students[0:4])

['hari', 'ram', 'sumanth', 'gangadhar']

In [24]:
print(students[6:8])

['suren', 'divakar']

In [26]:
print(students[7:8])

['divakar']

In [ ]:
understanding variable in python

In [27]:
x=5
y=3
x+y

8

In [ ]:
Rules for declaring variables

In [ ]:
1.No name spaces while declaring a var name

In [28]:
first name ='hari'

SyntaxError: invalid syntax (<ipython-input-28-c522d4dadd40>, line 1)

In [31]:
first_name='hari'
print(first_name)

hari

In [ ]:
2.any naming variable should not start with a number...
3.variables should not contain any special characters:

In [33]:
1name-'hari'
print(1name)

SyntaxError: invalid syntax (<ipython-input-33-b2f25aa4edf4>, line 1)

In [34]:
name='hari'
print(name)

hari

In [35]:
@var='abc'
print(@var)

SyntaxError: invalid syntax (<ipython-input-35-b83ab25dd7ed>, line 1)

In [36]:
var='abc'
print(var)

abc

In [ ]:
end of the practice session!